body {
    padding-bottom: 500px;
}
/*Título*/
h3 {
    color: green;
}

/*classe*/
.paragrafo {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/*ID*/
#titulo-exclusivo{
    background-color: purple;
    color: yellow;
    padding: 5px;
    font-size: 40px;
}

/*ordem das regras*/
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/*Nome das cores*/
.color-name {
    color: blueviolet;
}

/*Hexadecimal*/
.hex {
    color: #55a398;
}

.hex-2 {
    color: #1c8a94;
}

/*Aprofundando em HEX*/
.simples-hex {
    color: #a5ff;
}

.simples-hex-1 {
    color: #b684b6
}

/*RGB*/
.rgb {
    color: rgb(255, 0, 0);
}

/*RGBa*/
.rgba {
    color: rgba(200, 99, 45, 0.3);
}

/*HSL*/
.hsl {
    color: hsl(100, 20%, 50%);
}

/*Background*/
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/*Background Opacidade*/
.bg-opacidade {
    background-color: green;
    opacity: 0.2;
}

/*RGBa com Opacidade*/
.rgba-opacidade {
    background-color: rgba(90, 120, 20, 0.2);
    color: black;
}

/*Background image*/
.bg-image {
    background-image: url(img/nature.jpg);
    color: white;
    padding: 10px;
}

/*Centralizando bg image*/
.nao-centralizado-bg,
.centralizado-bg {
    height: 400px;
    width: 400px;
    background-image: url(img/ponte.jpg);
}

.centralizado-bg {
    background-position: center;
    background-size: cover;
}

/*Largura e Altura*/
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/*Padding*/
.sem-padding {
    background-color: #111;
    color: white;
}

.padding {
    background-color: #002fff;
    color: white;
    padding: 20px;
}

/*Padding Individual*/
.padding-individual {
    background-color: #222;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/*Shorthand Padding*/
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
}